rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clinical_studies/{studyId} {
      allow get: if true;
      allow list: if request.auth != null;
      allow delete: if request.auth != null && (resource == null || !('userId' in resource.data) || resource.data.userId == request.auth.uid);
      allow create, update: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    match /worklists/{worklistId} {
      allow read: if request.auth != null;
      allow delete: if request.auth != null && (resource == null || !('userId' in resource.data) || resource.data.userId == request.auth.uid);
      allow create, update: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
